body {
  background: #f4f7ff;
}

.App {
  background-image: linear-gradient( to bottom, rgb(194, 240, 255), #f4f7ff );
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  /* background-color: #f4f7ff; */
}

.shadowBox {
  margin: 18px;
  padding: 18px;
  background-color: white;
  border: 2px solid rgb(128, 210, 238);
  box-shadow: 0px 0px 5px rgb(73, 184, 174);
  border-radius: 10px;
}

.halfWidth {
  width: 50%;
  min-width: 550px;
  margin: 18px auto;
}
